
*.meta
/.vs
/Library
/obj
/Packages
/Logs
/Temp
ULocalize.sln.DotSettings.user
EDraw-Editor.csproj
Environment.csproj
Environment-Editor.csproj
Assets/Plugins/EditorDrawHelper/
Assets/Plugins/Environment/
